nav {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
}

body{
    font-family: Manrope,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;
    background-color: #333;
    background-image: url('../assets/bgwhite.jpg');
    background-blend-mode:color-dodge;
    margin-left: 500px;
    margin-right: 500px;
    letter-spacing:1.5px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
  }

nav .right-nav-bar .about-me-button{
    color: #90EE90
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: 1s ease;
    cursor: pointer;
}

a:hover {
    color: #90EE90;
}

h1{
    font-size: 48px;
    color: #90EE90;
    display: inline;
}

header{
    margin-top: 65px;
    position: relative;
    margin-bottom: 50px;
}

.header-text {
    display: inline-block;
    vertical-align: middle;
  }
  
  .green-line {
    display: inline-block;
    width: 25%;
    height: 2px;
    background-color: #90ee9077;
    margin-left: 5px;
    vertical-align: middle;
  }

img{
    flex: 1;
    height: 400px;
    border-radius: 5%;
    
}

.image-container {
    position: relative;
  }

.image-container::after {
    content: '';
    position: absolute;
    top: -20px; /* specify the amount of translation up */
    left: -20px; /* specify the amount of translation right */
    width: 100%; /* specify the width of the border */
    height: 100%; /* specify the height of the border */
    border-radius: 5%;
    border: 2px solid #90ee90; /* specify the border style and color */
    z-index: -1; /* set z-index to -1 to place the border behind the image */
  }

.text p{
    color: #cccccc;
    font-size: 17.5px;
    margin: 0;
}

.left-side p{
    color: #cccccc;
    font-size: 15px;
    margin: 0;
    margin-top: 20px;
}

.about-me-contents{
    display: flex;
    align-items: flex-start;
}

.text{
    flex-grow: 2;
    background-color: rgb(51, 39, 39);
    margin-left: 50px;
    padding: 20px;
}

.tech-list {
    display: grid;
    color: #fff;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
  }

  .tech-list li::before {
    content: ">"; /* custom character for bullet point */
    font-size: 10px; /* adjust font size as desired */
    vertical-align: middle;
    position: relative; /* add relative positioning for further adjustment */
    top: -1px; /* adjust top value to move the bullet point up or down */
    margin-right: 0.5rem; /* add spacing between bullet point and list item text */
}

ul{
    padding: 0;
}

li{
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: 5px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}